---
import CardLink from '../components/CardLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Remove Amazon Affiliate Link">
  <main class="mx-4">
    <CardLink />
  </main>
</Layout>
