---

---

<section
  class="flex justify-center border flex-col border-gray-700 rounded-lg shadow p-6 text-center"
>
  <form id="form">
    <label for="search" class="mb-2 text-sm font-medium text-white sr-only">Search</label>
    <div class="relative">
      <input
        type="search"
        id="search-bar"
        class="block w-full p-4 text-sm outline-none border rounded-lg bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
        placeholder="Enter link here"
        required
      />
      <button
      id="remove-button"
        type="button"
        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg transition-all ease-in-out duration-500 text-sm px-4 py-2 dark:bg-blue-600 hover:bg-blue-500"
        >Remove!</button
      >
    </div>
  </form>
</section>

<div class="flex justify-between mt-3 font-extrabold mx-4">
  <div class="transition-all ease-in-out duration-500 hover:opacity-75"><a href="https://www.jgcarrillo.com/" target="_blank">jgcarrillo © 2024</a></div>
  <div class="transition-all ease-in-out duration-500 hover:opacity-75 cursor">
    <a href="https://github.com/jgcarrillo/" target="_blank">GitHub</a>
  </div>
</div>

<script>
  const form = document.querySelector('#form')
  const searchbar = document.querySelector('#search-bar') as HTMLInputElement
  const removeButton = document.querySelector('#remove-button')

  removeButton?.addEventListener('click', () => {
    const $cleanURLContainer = document.createElement('div')
     $cleanURLContainer.setAttribute('id', 'clean-url-container')
     $cleanURLContainer.classList.add('my-10')

    const parsedUrl = new URL(searchbar.value);

    const pathname = parsedUrl.pathname;

    let productId:string|null = '';
    if (pathname.includes('/product/')) {
      productId = pathname.split('/product/')[1].split('/')[0];
    } else if (pathname.includes('/dp/')) {
      productId = pathname.split('/dp/')[1].split('/')[0];
    } else {
    productId = null
    }

    $cleanURLContainer.textContent = `https://www.amazon.es/dp/${productId}`;
    form?.appendChild($cleanURLContainer)

    searchbar.value = ''
  })
</script>
